.titulo{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tituloCategorias{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: calc(50% - 20px); 
  max-width: 300px; 
  height: auto; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-details {
  padding: 15px;
}

.product-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.product-detail-image {
  width: 240px; 
  height: auto; 
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-detail-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.product-detail-price {
  font-size: 1.3rem;
  color: #28a745;
  font-weight: bold;
  margin-bottom: 30px;
}
.product-buy-button {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-buy-button:hover {
  background-color: #218838;
}

.navbar-brand-margin {
  margin-left: 20px;
}


.auth-button {
  margin-top: 20px;
}

.brand{
  padding: 10px;
  margin-right: 15px; 
}


.nav-menu > * {
  margin-right: 10px; 
}
