/* styles.css */

.category-container {
    padding: 20px;
  }
  
  .category-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  
  .product-card {
    width: 100%;
    height: a;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: 200px; /* Ajusta según tus necesidades */
    object-fit: cover;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .product-description {
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    font-size: 15px;
  }
  
  .product-price {
    font-weight: bold;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-details {
    color: #007bff;
    text-decoration: none;
  }
  
  .product-buy-button {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-buy-button:hover {
    background-color: #218838;
  }
  